<!DOCTYPE html>

<html lang="en">
<head>
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}



    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
{#    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>#}

    <meta charset="UTF-8">
    <title>MyMeds</title>
</head>
<body class="ml-2 mr-2 mt-2" >

<header class="navbar navbar-expand-lg navbar-light bg-light mb-4" id="main-header">

{#  <a class="navbar-brand app-name" href="{% url 'index' %}">MyMeds</a>#}



</header>

        {% block content %}


        {% endblock %}
</body>

</html>

