{% extends "base.html" %}

{% block content %}


    <h5 class="text-center">My meds</h5>
    <table class="table table-striped">
    <thead>
    <tr><th scope="col">Name</th>
        <th scope="col">Active ingredient</th>
        <th scope="col">Amount</th>
        <th scope="col">Dose</th>
        <th scope="col">Expiration date</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </thead>


    <tbody>
        {% for med in meds %}
        <tr><td>{{ med.name }}</td>
            <td>{{ med.active_ingredient }}</td>
            <td>{{ med.amount}}</td>
            <td>{{ med.dose}}</td>
            <td>{{ med.expiration_date | date:"d-m-Y" }}</td>
            <td><a href="{% url 'update-medicine' med.id %}">Edit</a></td>
            <td><a href="{% url 'delete-medicine' med.id %}">Delete</a></td>

    {% endfor %}
    </tbody>
    </table>


    </table>




{% endblock %}