.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: #4e555b;
}


.form {
    margin: 10px auto;
    max-width: 300px;
    padding: 20px 12px 10px 25px;
}

.form label {
    margin:0 0 3px 0;
	padding:0;
	display:block;
    width: 100%;

}

.form input, select {
    padding: 0;
	display: block;
    justify-content: center;
	margin: 10px 0 0 0;
    width: 95%;
}

.form textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}



